
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../Imagens/planodefundo.jpg);
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

body a {
    text-decoration: none;
    color: aliceblue;
}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-bottom: -10px;
}

.logo {
    margin-left: 50px;
    width: 120px;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-decoration: none;
    margin-right: 150px;
    font-weight: bold;
}

.menu a{
    position:relative;
    text-decoration:none;
    font-size:17px;
    transition:0.3s;
}

.menu a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0%;
    height:2px;
    background:#D4AF37;
    transition:0.3s;
}

.menu a:hover{
    color:#D4AF37;
}

.menu a:hover::after{
    width:100%;
}

.opcao {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}

.a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
    font-size: 16px;
}

main {
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.card {
    display: inline-block;
    padding: 2rem;
    border: 3px solid #D4AF37;
    border-radius: 8px;
    color: aliceblue;
    background-color: black;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
}

.texto-central {
    font-size: 20px;
    color: #D4AF37;
    text-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    margin-bottom: 20px;
    text-align: center;
}

.campo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.campo label {
    width: 180px;
    color: white;
    font-weight: bold;
    display: flex;
}


.campo input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
}

label p {
    margin-left: 4px;
    color: #D4AF37;
}

.plano h4 {
    color: #D4AF37;
    text-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    font-size: 18px;
    margin-bottom: 10px;
}

.plano {
    margin-bottom: 10px;
    font-size: 18px;
    color: aliceblue;
    font-weight: bold;
}

input[type="radio"] {
    margin-left: 10px;
}

.periodos h4 {
    color: #D4AF37;
    text-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    font-size: 18px;
    margin-bottom: 10px;
}

.periodos {
    margin-bottom: 10px;
    font-size: 18px;
    color: aliceblue;
    font-weight: bold;
}

.objetivo h4 {
    color: #D4AF37;
    text-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    font-size: 18px;
    margin-bottom: 10px;
}

.geupo-botao {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.botao {
    padding: 12px 18px;
    background-color: black;
    border: none;
    border-radius: 12px;
    color: aliceblue;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
}

.botao:hover {
    background-color: #D4AF37;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.671);
    color: rgb(0, 0, 0);
}

.finalizar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.final {
    padding: 12px 18px;
    background-color: #D4AF37;
    width: 100%;
    border: none;
    border-radius: 12px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(255, 217, 0, 0.644);
}

.final:hover {
    background-color: black;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    color: aliceblue;
}

.finalizar a {
    width: 100%;
    text-decoration: none ;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    margin-top: 100px;
    margin-bottom: 15px;
}

.voltar {
    position: absolute;
    left: 15px;
    background-color: #D4AF37;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    color: black;
    font-weight: bold;
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
    margin-bottom: 15px;
}

.paragrafo-footer {
    font-size: 18px;
    color: aliceblue;
    font-weight: bold;
    margin-bottom: 15px;
}
