*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:url("./Imagens/planodefundo.jpg") center/cover no-repeat;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:rgba(0,0,0,0.85);
    padding:50px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 40px rgba(255,215,0,0.5);
    border:2px solid #D4AF37;
}

.container img{
    width:180px;
    margin-bottom:20px;
}

h1{
    color:#D4AF37;
    text-shadow: 0 0 15px rgba(255,215,0,0.6);
    font-size:40px;
    margin-bottom:10px;
}

p{
    color:white;
    font-size:18px;
    margin-bottom:30px;
    font-weight: bold;
}

.voltar{
    display:inline-block;
    padding:15px 35px;
    background-color: #D4AF37;
    font-size: 18px;
    color:black;
    font-weight:bold;
    border-radius:30px;
    text-decoration:none;
    box-shadow:0 0 20px rgba(255,215,0,0.7);
}