* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./Imagens/planodefundo.jpg");
    background-size: cover;
    /*Cobre a tela toda*/
    background-position: center;
    /*centraliza*/
    background-repeat: no-repeat;
    /*Não Repete*/
    background-attachment: fixed;
    /*fundo parado*/
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(8px);
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid rgba(212, 175, 55, 0.3);
}

.logo {
    height: 110px;
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.05);
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
}

.suspensa {
    position: relative;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: black;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 180px;
    border-radius: 8px;
    overflow: hidden;
    display: none;
    z-index: 999;
}

.suspensa:hover .submenu {
    display: block;
}

.submenu li a {
    display: block;
    padding: 12px;
    color: white;
}

.submenu li a:hover {
    background: #D4AF37;
    color: black;
}

.opcao {
    display: flex;
    gap: 45px;
    list-style: none;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #D4AF37;
    transition: 0.3s;
}

.menu a:hover {
    color: #D4AF37;
}

.menu a:hover::after {
    width: 100%;
}

.destaque-matri {
    color: #D4AF37;
    font-weight: bold;
}

.login {
    padding: 10px 22px;
    background: linear-gradient(45deg, #D4AF37, #f1d06b);
    color: black;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.6);
    transition: 0.3s;
}

.login:hover {
    transform: scale(1.08);
    box-shadow: 0 0 25px gold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 40px;
}

main {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.texto-inicial {
    color: #D4AF37;
    text-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
    text-align: center;
    margin-bottom: 50px;
}

.texto-inicial h2 {
    font-size: 55px;
    margin-bottom: 10px;
}

.texto-inicial p {
    font-size: 22px;
    color: aliceblue;
    text-shadow: 0 0 15px #D4AF37;
}

.box-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

.img-principal img {
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(255, 215, 0, 0.4);
    transition: 0.4s;
}

.img-principal img:hover {
    transform: scale(1.02);
    box-shadow: 0 0 60px gold;
}

.frase-forte {
    text-align: center;
    color: #D4AF37;
    text-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.botao-inicial {
    margin-top: 25px;
}

.botao-inicial a {
    display: inline-block;
    padding: 15px 35px;
    background: linear-gradient(45deg, #FFD700, #D4AF37);
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 40px;
    text-decoration: none;
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.7);
    transition: 0.3s;
}

.botao-inicial a:hover {
    box-shadow: 0 0 40px gold;
}

.card {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
}

.comum {
    margin: 15px;
    padding: 2px;
    margin-top: 50px;
    border: 3px solid #D4AF37;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    border-radius: 15px;
    background-color: rgb(51, 51, 51);
    color: rgba(255, 255, 255, 0.877);
    font-weight: bold;
}

.texto-cima {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 2px;
}

.descricao {
    margin-top: 15px;
}

.preco {
    color: #f5bd05;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 5px;
}

.fidelidade {
    margin-top: 10px;
    font-size: 12px;
    color: rgb(218, 208, 208);
}

.contrato {
    border: 3px solid #D4AF37;
    background-color: #000000;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

.contrato:hover {
    background-color: #000000;
    border: #D4AF37;
    box-shadow: 0 0 15px aliceblue;
}

ul {
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.nao {
    margin-top: 5px;
    text-decoration: line-through;
}

.sim {
    margin-top: 5px;
}

.margi-lista-sim {
    margin-top: 15px;
}

.black {
    margin: 15px;
    padding: 2px;
    margin-top: 50px;
    border: 3px solid #D4AF37;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.877);
    font-weight: bold;
}

.texto-cima-black {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 2px;
}

.descricao-black {
    margin-top: 15px;
    margin-left: 15PX;
}

.preco-black {
    color: #f5bd05;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 15px;
}

.fidelidade-black {
    margin-top: 10px;
    margin-left: 15PX;
    font-size: 12px;
    color: rgb(218, 208, 208);
}

.contrato-black {
    border: 3px solid #D4AF37;
    background-color: #000000;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;

    transition: 0.3s;
}

.contrato-black:hover {
    background-color: #D4AF37;
    border: 2px solid #000000;
    box-shadow: 0 0 15px white;
}

.beneficio-b {
    margin-top: 5px;
}

.gold {
    margin: 15px;
    padding: 2px;
    margin-top: 50px;
    border: 3px solid black;
    box-shadow: 0 0 15px gold;
    border-radius: 15px;
    background-color: #D4AF37;
    color: aliceblue;
    font-weight: bold;
}

.texto-cima-gold {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 2px;
}

.descricao-gold {
    margin-top: 15px;
    margin-left: 15PX;
}

.preco-gold {
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 15px;
}

.fidelidade-gold {
    margin-top: 10px;
    margin-left: 15PX;
    font-size: 12px;
    color: rgb(218, 208, 208);
}

.contrato-gold {
    border: 3px solid #ffffff;
    background-color: #000000;
    box-shadow: 15px 0 15px rgba(78, 78, 77, 0.6);
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;

    transition: 0.3s;
}

.contrato-gold:hover {
    background-color: #D4AF37;
    border: 2px solid black;
    box-shadow: 0 0 15px white;
}

.contrato:hover,
.contrato-black:hover,
.contrato-gold:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.contrato a,
.contrato-black a,
.contrato-gold a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}

.comum,
.black,
.gold {
    width: 300px;
    min-height: 650px;
}

.motivo {
    text-align: center;
    color: #D4AF37;
    text-shadow: 0 0 15px rgba(255, 215, 0, 0.8);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

.motivo p {
    color: #000000;
}

.caixas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 40px;
    align-items: stretch;

}

.primeira-caixa {
    padding: 2rem;
    border-radius: 15px;
    color: aliceblue;
    background-color: #000000;
    box-shadow: 15px 15px 15px rgba(212, 175, 55, 0.6);
}

.segunda-caixa {
    padding: 2rem;
    border-radius: 15px;
    color: aliceblue;
    background-color: #000000;
    box-shadow: 15px 15px 15px rgba(212, 175, 55, 0.6);
}

.terceira-caixa {
    padding: 2rem;
    border-radius: 15px;
    color: aliceblue;
    background-color: #000000;
    box-shadow: 15px 15px 15px rgba(212, 175, 55, 0.6);
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

.img-box img {
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(255, 215, 0, 0.4);
    transition: 0.4s;
}

.texto-box-um, 
.texto-box-dois,
.texto-box-tres {
    margin-top: 15px;
    font-weight: bold;
}

.titulo-um, 
.titulo-dois,
.titulo-tres {
    color: #D4AF37;
    text-shadow: 0px 0px 15px rgba(212, 175, 55, 0.6);
    font-weight: bold;
}

.mais {
    border: 4px solid #D4AF37;
    border-radius: 15px;
    background-color: #000000;
    text-align: center;
    justify-content: center;
    display: inline-block;
    align-items: center;
    margin-top: 60px;
    padding: 16px 24px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
}

.mais a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

.mais:hover {
    background-color: #D4AF37;
    border: 4px solid #000000;
    box-shadow: 0 0 15px white;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    margin-top: 100px;
    margin-bottom: 15px;
}

.voltar {
    position: absolute;
    left: 15px;
    background-color: #D4AF37;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
    color: black;
    font-weight: bold;
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
    margin-bottom: 15px;
}

.paragrafo-footer {
    font-size: 18px;
    color: aliceblue;
    font-weight: bold;
    margin-bottom: 15px;
}