.logo {
    width: 180px;        /* tamanho da logo */
    height: auto;        /* mantém proporção */
    display: block;
    margin: 0 auto;      /* centraliza */
}

/* fundo do topo da academia */
.topo{
    background: black;   /* fundo preto */
    padding: 20px;
    text-align: center;
}

/* efeito premium */
.logo{
    filter: drop-shadow(0px 0px 10px gold); /* brilho dourado */
    transition: 0.3s;
}

.logo:hover{
    transform: scale(1.08); /* zoom quando passa o mouse */
}

